body {
    margin: 0;
    background-color: #e0e0e0;
}

#resume-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 8px, rgba(0, 0, 0, .117647) 0 1px 10px;
    justify-content: flex-start;
}

#resume-header {
    color: white;
    background-color: black;
}

#resume-body {
    background-color: white;
}