body {
    margin: 0;
    background-color: #e0e0e0;
}

#resume-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 8px, rgba(0, 0, 0, .117647) 0 1px 10px;
    justify-content: flex-start;
}

#resume-header {
    padding: 20px;
    color: #fff;
    background-color: #333;
}

#resume-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #333;
    background-color: #fff;
    justify-content: center;
}

.resume-body-column {
    flex-grow: 1;
}

@media (max-width: 767px) {
    #resume-container {
        width: 480px;
    }
    #resume-body {
        flex-direction: column;
    }
    .resume-body-column {
        margin: 0;
    }
}

@media (max-width: 480px) {
    #resume-container {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 768px) {
    #resume-container {
        width: 700px;
    }
    #resume-body {
        flex-direction: row;
    }
    .resume-body-column {
        margin: 0 10px;
    }
}

@media (min-width: 980px) {
    #resume-container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    #resume-container {
        width: 1000px;
    }
}