#resume-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #333;
    background-color: #fff;
    justify-content: center;
}

.resume-body-column {
    margin: 0 10px;
    flex-grow: 1;
}

.resume-item {
    margin: 10px 20px;
}

.resume-item-title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -22px;
    padding-left: 10px;
    align-items: center;
}

.resume-item-container {
    margin-bottom: 20px;
    padding-top: 22px;
    border-left: 4px solid #333;
}

.resume-item-container::after {
    font-size: .01px;
    position: relative;
    z-index: 2;
    bottom: -7px;
    left: -9px;
    display: block;
    width: 14px;
    height: 14px;
    padding: auto;
    content: '';
    transform: translate(0, 0);
    border-radius: 50%;
    background-color: #333333;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
    align-items: center;
}

.resume-item-subtitle {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -1px;
    align-items: center;
}

.resume-item-subtitle-content {
    margin-left: -20px;
    padding-left: 26px;
    color: #fff;
    border-radius: 5px;
    background-color: #333;
    flex-grow: 1;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
}

.resume-item-button{
    background-color: #f0f0f0;
    color: #333333 !important;
    margin-right: 5px;
    padding: 2 5px;
    border-radius: 3px;
    font-size: 0.8em;
}

.resume-item-title::before, .resume-item-subtitle::before {
    font-family: FontAwesome;
    z-index: 2;
    display: inline-flex;
    padding: auto;
    transform: translate(0, 0);
    color: #fff;
    border-radius: 50%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
    align-items: center;
}

.resume-item-title::before {
    font-size: 22px;
    width: 44px;
    height: 44px;
    margin-left: -30px;
    margin-right: 5px;
    content: '\f02e';
    background-color: #333333;
}

.resume-item-subtitle::before {
    font-size: 17px;
    width: 38px;
    height: 38px;
    margin-left: -20px;
    margin-right: 2px;
    content: '\f02e';
    background-color: #2e6f9e;
}

.resume-item-content {
    padding-left: 26px;
}

strong {
    color: #2e6f9e;
    padding: 0 2px;
}

.education-h1{
    font-size: 36px;
    line-height: 50px;
}

.education-h1{
    font-size: 28px;
    line-height: 40px;
}