#resume-header {
    padding: 20px 40px;
    color: #fff;
    background-color: #333;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 160px;
}

#resume-header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Verdana', Georgia, 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', serif;
}

#resume-header-left-container {
    display: flex;
    flex-direction: row;
}

#resume-header-QR {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding: 0px;
    margin-right: 10px;
    opacity: 0.9;
}

#resume-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume-header-h1 {
    font-size: 72px;
    padding-bottom: 12px;
}
#resume-header-h2 {
    font-size: 20px;
}

.resume-header-list{
    line-height: 1.4em !important;
}

#resume-header-info{
    display: none;
}