#resume-header {
    padding: 20px 40px;
    color: #fff;
    background-color: #333;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#resume-header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#resume-header-QR {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding: 0px;
    margin-right: 10px;
}

#resume-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume-header-h1 {
    font-size: 3em;
}
#resume-header-h2 {
    font-size: 1em;
}

.resume-header-list{
    line-height: 1.4em !important;
}