body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
}

#resume-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 8px, rgba(0, 0, 0, .117647) 0 1px 10px;
    justify-content: flex-start;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

li {
    line-height: 1.2em;
}

.fa-li {
    top: .07em !important;
}

ul {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#PDFbutton {
    position: fixed;
    z-index: 100;
    right: -50px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 30px;
    padding-left: 20px;
    transition: opacity .4s ease;
    transition: background-color .4s ease;
    transition: color .4s liner;
    opacity: .8;
    color: #333;
    border-radius: 20px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, .117647) 0 6px 10px 0, rgba(0, 0, 0, .117647) 0 1px 10px 0;
    justify-content: center;
    align-items: flex-start;
    /*transition: color 0.5s linear;*/
}

#PDFbutton:hover, #PDFbutton:active {
    opacity: 1;
    color: #fff;
    background-color: #333;
}

.PDFbutton-h1 {
    font-size: 16px;
}